.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.note{
    color: var(--secondary);
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid var(--accent-trans);
    padding: 20px;
    border-radius: 5px;
    border: 2px solid var(--accent-trans);
    width: 90%;
    min-width: 300px;
    max-height: 100%;
    height: 30%;
    margin: 5px;

    h1{
        font-size: large;
        margin: 0;
        padding: 0;
    }
    p{
        overflow-wrap: anywhere;
    }

    @media screen and (min-width: 800px) {
        width: 50%;
    }
    @media screen and (min-width: 1600px) {
        width: 25%;
    }
    
}

.response{
    color: var(--background-dark)
}

#note{
  height: 90%;
}

#submit{
    width: 80%;
    height: 10%;
    background-color: var(--accent-trans);
    color: var(--background);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    padding: 5px;
    &:hover {
        background-color: var(--accent);
        color: var(--background);
    }
    &:active {
        transform: scale(0.95);
    }
}