:root {
    --background: rgb(255, 255, 255);
    --background-dark: #afafaf;
    --accent: rgb(212, 76, 80);
    --accent-trans: #d44c5077;
    --secondary: #600;
    --secondary-trans: #66000082;
    --text: #2a2722;
    --text-light:#2a2722cc;
    width: 100vw;
}

@font-face {
    font-family: MondiaThin;
    src: url("/resources/fonts/MondiaThin.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: Latitude;
    src: url("/resources/fonts/Deghest/Latitude-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: BasalteFond;
    src: url("/resources/fonts/Deghest/Basalte-Fond.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: FiraCode;
    src: url("/resources/fonts/FiraCode-Regular.ttf") format("truetype");
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    width: 80%;
    margin: 1% 10% 0%;
    @media only screen and (min-width: 1000px) {
        width: 50%;
        margin: 1% 25% 0%;
    }
    @media only screen and (min-width: 1600px) {
        width: 35%;
        margin: 1% 33% 0%;
    }
}

main {
    margin-block: 0 10%;
    margin-top: 20px;
}

nav {
    height: 10%;
    padding-top: 2%;

    h1 {
        margin: 0;
        display: inline;
        text-transform: uppercase;
    }

    a {
        padding: 1%;
        padding-inline: 2.5%;
        font-size: 1.2rem;
    }

    .nav-links {
        font-size: 1.5rem;
    }

    #square {
        display: inline;
        vertical-align: middle;
    }
}

.svg {
    width: 5px;
    height: 5px;
    fill: var(--secondary);
    display: inline;
    vertical-align: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-left {
    justify-content: left;
    align-items: flex-start;
}

.mondia-thin {
    font-family: MondiaThin, "garamond";
}

.width-full {
    width: 100%;
}

.padding-10{
    padding: 1%;
}

.bar::before {
    display: block;
    flex: 0.25;
    align-self: flex-start;
    height: 1em;
    content: "";
    background-color: currentColor;
}

.bar::after {
    display: block;
    flex: 0.75;
    align-self: flex-start;
    height: 1em;
    content: "";
    background-color: currentColor;
}

.bar
{
    display: flex;
    column-gap: .1em;
    align-items: center;
    max-width: unset;
    height: min-content;
}

.bar-right {
    display: flex;
    column-gap: .5em;
    align-items: center;
    max-width: unset;
    height: min-content;
}

.bar-right::after {
    display: block;
    flex: 1;
    height: 0.5em;
    content: "";
    transform:translateY(-0.1em);
    background-color: currentColor;
}

.card {
    padding: 2rem;
    position: relative;
    margin: 1rem 0 1rem 0;

    @media only screen and (min-width: 800px){
        margin: 1rem;
    }
}

.inverted {
    background-color: var(--text);
    color: var(--background);

    &::before{
        position: absolute;
        inset: 0.5rem;
        display: block;
        content: "";
        user-select: none;
        pointer-events: none;
        border: 1px solid var(--background);
    }
}

.center-aligned {
    text-align: center;
}

p,
li {
    line-height: 1.6;
    font-size: 0.9rem;
    -webkit-font-smoothing: antialiased;
    @media only screen and (min-width: 800px) {
        font-size: 1rem;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: var(--secondary);
    border-radius: 2px;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    box-decoration-break: clone;
    transition: 0.1s ease-in-out;

    &:hover {
        text-underline-offset: 3px;
        text-decoration-thickness: 2px;
        color: var(--secondary);
        transition: 0.1s ease-in-out;
    }
}

.animated-links{
    a {
        color: var(--secondary);
        border-radius: 2px;
        transition-property: color,background-size;
        text-decoration: none;
        text-wrap: balance;
        background-image: linear-gradient(currentColor, currentColor);
        background-repeat: no-repeat;
        background-position: 0 calc(100% - 1px);
        background-size: 0 1px;
        paint-order: stroke fill;
        justify-self:start;

    &:hover {
        background-size:100% 1px
    }
    }

}

a.button {
    padding: 5px;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    overflow-wrap: break-word;
    font-family: "FiraCode", "Courier New", Courier, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: BasalteFond;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.1rem;
    font-weight: normal;
}

h3 {
    font-size: 1.25em;
    font-weight: normal;
}

li {
    list-style-position: outside;
    padding-left: 1em;
}

ul {
    padding-left: 1em;
}

footer {
    margin: 10%;
    margin-top: 20%;
    p {
        line-height: 3;
        font-size: small;
    }

    .footer-list {
        text-align: center;
    }
}

canvas {
    width: 100%;
    height: 100dvh;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background-color: transparent;
}

button {
    display: block;
    margin: 0;
    margin-left: 0px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background: var(--accent);
    cursor: pointer;
    text-align: left;
    font: inherit;
    font-size: inherit;
    color: inherit;
}

.magic-button:hover {
    color: var(--background);
}

#root,
#__next {
    isolation: isolate;
}

.head-image {
    max-width: 100%;
    height: auto;
    margin: 2% 0 2%;
    padding: 1%;
    outline: 0.2rem solid var(--text);
}

@keyframes slide {
    from {
        transform: translateY(-100%);
    }

    50% {
        opacity: 1;
    }

    to {
        transform: translateY(100%);
    }
}

.down-arrow {
    display: inline;
    animation: slide 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.75, 1, 0.25);
    opacity: 1;
}

.back-arrow {
    display: inline;
    animation: slide 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.75, 1, 0.25);
    opacity: 1;
    rotate: 90deg;
}

textarea,
input[type="text"] {
    /* input fix defaults */

    resize: none;
    overflow: hidden;
    width: 90%;
    background-color: var(--background);
    color: var(--secondary);
    font-family: "FiraCode", "Courier New", Courier, monospace;
    margin: 5px;
    padding: 5px;

    border-style: solid;
    border-width: 2px;

    &:focus {
        outline: none;
    }
}
