<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/src/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/src/styles/index.css" />
    {% if css %}
        {% for file in css %}
            <link rel="stylesheet" type="text/css" href="{{ file }}" />
        {% endfor %}
    {% endif %}
    <link rel="icon" href="/resources/favicon.png">
    <script src="/src/js/load.js"></script>
</head>

<body>
    <nav>
        <div class = "nav-links" id="me-link">
            <img id="square" src="/resources/rect2.svg" width="20" height="20" alt="An orange square"></img>
            <a href = "/"><h1>Michael Levy</h1></a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <img src="/resources/circle.svg" class="svg" alt="Decorative circle"></img>
            <a href="/works/">Works</a>
            <img src="/resources/circle.svg" class="svg" alt="Decorative circle"></img>
            <a href="/lab/">Lab</a>
            <img src="/resources/circle.svg" class="svg" alt="Decorative circle"></img>
            <a href="/music/">Music</a>
            <img src="/resources/circle.svg" class="svg" alt="Decorative circle"></img>
            <a href="/about/">About</a>
            <img src="/resources/circle.svg" class="svg" alt="Decorative circle"></img>
            <a href="/splash/">Splash</a>
        </div>
    </nav>

    {{ content }}
        <footer>
        <div class="footer-list"><p><a href="michaelevy.com">michaelevy.com</a> personal website © 2025</p></div>
        <div class="footer-list"><p><a href="https://bsky.app/profile/michaelevy.com">BlueSky</a> | <a href="mailto:michaelfeehanlevy@gmail.com">Email</a> | <a href="https://github.com/michaelevy">GitHub</a></p></div>
        <div class="footer-list"><p>Powered by <a href="https://www.11ty.dev/">Eleventy</a></div>
    </footer>
</body>

</html>
